* {
    font-family: monospace;
}

.title {
    font-size: 35;
}

/* Board and game setup */

.board-container {
    background: white;
    display: inline-block;
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 45px);
    grid-template-rows: repeat(11, 45px);
    grid-gap: 0px;
}

.board-name {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.cell {
/* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace  ;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
}

.cell-border {
    border: 1px solid black;
}

.sea {
    background: white;
}

.ship {
    background: lightblue;
}

.hit {
    background: red;
}

.miss {
    background: grey;
}

.label-fmt {
    font-size: 1.2em !important;
}